.buscar{
    background-color: #0593BD;
    border: none;
    color: white;
    padding: 9px 19px;
    text-align: center;
    text-indent: 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    z-index: 2;
  }



.buscardni{
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.buscardni label{
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.buscardni input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}